/*filter*/
.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: 900;
}
.amounts{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.labeles-div{
    margin-bottom: 10px;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around;
  }
  .labeles{
    margin-top: 2px;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
  }
  .search-text{
  font-weight: 600;
  padding-top: 4px; 
  padding-bottom: 4px; 
  }
  .panel-2{
    width: 260px;
    padding-left: 20px; 
    padding-right: 20px; 
  }
  .panel-2 .form-check {
    margin-right: 50px;
    padding-top: 50px; 
    }
    .form-check .form-check-label{
      font-size: 14px;
      font-weight: 400;
    }
  
  .slider-age{
    font-size: 16px;
    font-weight: 600;
  }
  #amount, #amount-2{
    font-size: 14px;
    color:#d63434;
    width: 50px;
  }
  #amount-2{
    text-align: right;
  }
  .inputs-age{
    border:0;
    font-weight:bold;
  }
  .slider{
  }
  .panel-2 label_r{
    cursor: pointer;
  }
  .search-btn{
    margin: 0 auto;
    font-size: 16px;
    width: 80px;
  }
  .form-group {
    text-align: center !important;
    margin-bottom: 15px;
    margin-top: 24px;
}
  .ui-slider-horizontal{
    height: 15px !important;
  }
  .ui-widget.ui-widget-content{
    border: 2px solid #b1b1b1 !important;
  }
  .ui-widget-header{
    background: #f8eafd !important;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border: 1px solid #4b0a50 !important;
    background: #88418de6 !important;
  }
  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus{
    border: 1px solid #4b0a50 !important;
    background: #4b0a50 !important;
    cursor: pointer;
  }
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    border: 1px solid #3a094d !important;
    background: #ecbffd !important;
  }
  .ui-slider .ui-slider-handle{
    width: 12px !important;
    height: 25px !important;
  }
  
  .radio {
      display: none !important;
  }
  
  .radio-custom {
      width: 20px;
      height: 20px;
      border: 2px solid #4b0a50;
    border-radius: 3px;
    background: #f8eefc;
      position: relative;
  }
  
  .radio-custom,
  .label_r {
      display: inline-block;
    vertical-align: middle;
    color: #181818;
    font-size: 14px;
    font-weight: 400;
  }
  .photo{
    width: 15px;
    height: 30px;
  }
  .radio:checked + .radio-custom::before {
      content: "";
      display: block;
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      background: #5f2563e6;
      border-radius: 2px;
  }
  .radio-custom,
  .radio:checked + .radio-custom::before {
      border-radius: 50%;
  }