/*helpers*/
.inline-block{
    display: inline-block;
  }
  .rel{
   position: relative;
  }
  .abs{
    position: absolute;
   }
  .fixed{
    position: fixed;
  }
  .center{
  text-align: center;
  }
  .wrap{
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  .mt-8{
    margin-top: 80px;
  }
 /*menu*/
.hamburger {
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
display: none;
position: absolute;
top: 0;
left: 0;
margin-bottom: 15px;
}

.active{
  display: inline-block;
  padding-right: 10px; 
}
@media(max-width: 800px){
  .hero-nav{
    display: none;
    padding-top: 26px;
  }
  .hamburger {
  display: block;
  }
  .active{
    display: block;
  }
  nav{
    width: 100px !important;
  }
}
.right_side_menu{
  position: absolute;
  top: 0;
  right: 10px;
}
.welcom{
  cursor: pointer;
  position: absolute;
  left: -75px;
}
.profile_photo_menu_box{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: -47px;
  top: -10px;
}
.profile_photo_menu{
  width: 40px;
  height: 50px;
}
.head{
  background: linear-gradient(to top left,#8918ce, #3d5de4);
  opacity: 0.94 ; 
  width: 100%;
  padding: 20px 5px; 
  font-size: 16px;
  top:0;
  z-index: 1000;
  min-height: 60px;
}
nav{
  width: 350px;
}
.pull-right{
  display: inline-block;
}
.li-item{
  margin-left: 10px;
  padding-right: 5px; 
  color: #ffffff;
}
.li-item::after{
  content: "|";
  padding-left: 10px; 
}
.li-item:hover{
color: #ffafaf;
transition: 400ms;
}
.head a{
  color: #ffffff !important;
}
.head a:hover,
.head a:focus,
.head a:active {
    text-decoration: none !important;
    color: #ffafaf !important;
    transition: 400ms;
  }

ul{
  margin-bottom: 0 !important;
}
  /*prof photo*/
  .button_foto{
    height: 270px;
  }
  .clearfix_card{
    width: 180px;
    height: 280px;
    margin: 0 auto;

  }
  .prof_photo_box{
    border: 1px solid #ffafaf;
    overflow: hidden;
    box-shadow: 0 0 0 .2rem #ffafaf !important;
    border-radius: 5px;
    background: #fbe9f180;
    width: 180px;
    height: 275px;
    }
    .text_edit_box{
      cursor: pointer;
     
    }
    .text_edit{
    width: 140px;
margin: 0 auto;
right: 18px;
      text-align: center;
font-size: 15px;
position: absolute;
bottom: 0;
cursor: pointer;
height: 50px;
z-index: 200;
    }
    .prof_photo{    width: 180px;
      height: 225px;
       /* transform: scaleX(2);*/
        background-position: right bottom;
        }
    .btn-add-photo{
        position: absolute;
        bottom: 35px;
right: -20px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: #ffffff;
        background: #8918ce;
        border-radius: 50%;
        padding-top: 9px;
        text-align: center;
        z-index: 200;
        cursor: pointer;
        border: 1px solid #360057;

    }
    .btn-add-photo:hover {
        background: #360057;
        transition: 500ms;
        /*transform: scaleX(2);*/
    }
    /*alert*/
    .section_alert{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #bf84f6b3;
      z-index: 2000;
    }
    .myflex{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .box{   
      width: 600px;
      height: 450px;
      border: 1px solid #3f0265;
      background: #fff;
      border-radius: 12px;
    }
    .b_box{
      width: 400px;
      height: 350px;
    }
    #input, .notablock{
      display: none;
    }
    .btn-group-footer {
    margin-right: 40px !important;
}
/*section_question*/
.section_question{
  margin-top: 40px;
}
.section_question label{
  margin-bottom: 14px;
    display: block;
    font-size: 18px;

}
.form_1{
  margin: 0 auto;
}
.input_block{
  text-align: center;

}
.block_name{
margin-right: 280px;
}
.block_center{
  margin: 0 auto;
  text-align: center;
}
.input_box{
  border-bottom: 1px solid #f98989 !important;
  margin-bottom: 20px !important;
  margin: 0 auto;
  width: 200px;
}
.input_info{
  border: none !important;
  font-size: 16px;
  text-align: center;
  color: #b33ef9;
}
.input_info:focus{
  box-shadow:  0 7px 7px -5px #f98989 !important;
}
.input_info:hover + .icon_box, .input_info:focus + .icon_box {
  display: block !important;
  transition: 200ms;
}
.icon_box{
  display: none;
position: absolute;
top: 0;
right: -20px;
}
.block_state{
  margin-right: 15px;
}
.input_info_textarea{
  width: 300px;
  height: 100px;
  resize: none;
  border: 1px solid #ff7e7e !important;
  color: #914ab6;
  padding: 8px;
}
.input_info_textarea:focus{
  box-shadow: 0 0px 4px 1px #f98989 !important;
}
.header_question{
  font-size: 22px;
  color: rgb(2, 2, 2);
  font-weight: 600;
  text-align: center;
  padding: 8px;
  margin: 0 20px;
}
.btn_save_inf{
 margin: 35px auto;
 text-align: center;
}
/*register_photo_upload.php*/
.section_profile_photo{
margin-top: 60px;
}
.section_message{
  margin: 40px;
}
.tex_message{
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #ffafaf;
  color: #393333;
  padding: 16px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  background: #fdf3f770;
}
/*dropzone*/
.dropzone {
    border: 1px solid rgba(255, 0, 0, 0.55) !important;
}
    /*!
 * Cropper.js v1.4.1
 * https://fengyuanchen.github.io/cropperjs
 *
 * Copyright 2015-present Chen Fengyuan
 * Released under the MIT license
 *
 * Date: 2018-07-15T09:54:43.167Z
 */

.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cropper-container img {
  display: block;
  height: 100%;
  image-orientation: 0deg;
  max-height: none !important;
  max-width: none !important;
  min-height: 0 !important;
  min-width: 0 !important;
  width: 100%;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.cropper-wrap-box,
.cropper-canvas {
  overflow: hidden;
}

.cropper-drag-box {
  background-color: #fff;
  opacity: 0;
}

.cropper-modal {
  background-color: #000;
  opacity: .5;
}

.cropper-view-box {
  display: block;
  height: 100%;
  outline-color: rgba(51, 153, 255, 0.75);
  outline: 1px solid #39f;
  overflow: hidden;
  width: 100%;
}

.cropper-dashed {
  border: 0 dashed #eee;
  display: block;
  opacity: .5;
  position: absolute;
}

.cropper-dashed.dashed-h {
  border-bottom-width: 1px;
  border-top-width: 1px;
  height: calc(100% / 3);
  left: 0;
  top: calc(100% / 3);
  width: 100%;
}

.cropper-dashed.dashed-v {
  border-left-width: 1px;
  border-right-width: 1px;
  height: 100%;
  left: calc(100% / 3);
  top: 0;
  width: calc(100% / 3);
}

.cropper-center {
  display: block;
  height: 0;
  left: 50%;
  opacity: .75;
  position: absolute;
  top: 50%;
  width: 0;
}

.cropper-center:before,
.cropper-center:after {
  background-color: #eee;
  content: ' ';
  display: block;
  position: absolute;
}

.cropper-center:before {
  height: 1px;
  left: -3px;
  top: 0;
  width: 7px;
}

.cropper-center:after {
  height: 7px;
  left: 0;
  top: -3px;
  width: 1px;
}

.cropper-face,
.cropper-line,
.cropper-point {
  display: block;
  height: 100%;
  opacity: .1;
  position: absolute;
  width: 100%;
}

.cropper-face {
  background-color: #fff;
  left: 0;
  top: 0;
}

.cropper-line {
  background-color: #39f;
}

.cropper-line.line-e {
  cursor: ew-resize;
  right: -3px;
  top: 0;
  width: 5px;
}

.cropper-line.line-n {
  cursor: ns-resize;
  height: 5px;
  left: 0;
  top: -3px;
}

.cropper-line.line-w {
  cursor: ew-resize;
  left: -3px;
  top: 0;
  width: 5px;
}

.cropper-line.line-s {
  bottom: -3px;
  cursor: ns-resize;
  height: 5px;
  left: 0;
}

.cropper-point {
  background-color: #39f;
  height: 5px;
  opacity: .75;
  width: 5px;
}

.cropper-point.point-e {
  cursor: ew-resize;
  margin-top: -3px;
  right: -3px;
  top: 50%;
}

.cropper-point.point-n {
  cursor: ns-resize;
  left: 50%;
  margin-left: -3px;
  top: -3px;
}

.cropper-point.point-w {
  cursor: ew-resize;
  left: -3px;
  margin-top: -3px;
  top: 50%;
}

.cropper-point.point-s {
  bottom: -3px;
  cursor: s-resize;
  left: 50%;
  margin-left: -3px;
}

.cropper-point.point-ne {
  cursor: nesw-resize;
  right: -3px;
  top: -3px;
}

.cropper-point.point-nw {
  cursor: nwse-resize;
  left: -3px;
  top: -3px;
}

.cropper-point.point-sw {
  bottom: -3px;
  cursor: nesw-resize;
  left: -3px;
}

.cropper-point.point-se {
  bottom: -3px;
  cursor: nwse-resize;
  height: 20px;
  opacity: 1;
  right: -3px;
  width: 20px;
}

@media (min-width: 768px) {
  .cropper-point.point-se {
    height: 15px;
    width: 15px;
  }
}

@media (min-width: 992px) {
  .cropper-point.point-se {
    height: 10px;
    width: 10px;
  }
}

@media (min-width: 1200px) {
  .cropper-point.point-se {
    height: 5px;
    opacity: .75;
    width: 5px;
  }
}

.cropper-point.point-se:before {
  background-color: #39f;
  bottom: -50%;
  content: ' ';
  display: block;
  height: 200%;
  opacity: 0;
  position: absolute;
  right: -50%;
  width: 200%;
}

.cropper-invisible {
  opacity: 0;
}

.cropper-bg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}

.cropper-hide {
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.cropper-hidden {
  display: none !important;
}

.cropper-move {
  cursor: move;
}

.cropper-crop {
  cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
  cursor: not-allowed;
}