/*helpers*/
.inline-block{
    display: inline-block;
  }
  .rel{
   position: relative;
  }
  .abs{
    position: absolute;
   }
  .fixed{
    position: fixed;
  }
  .center{
  text-align: center;
  }
  .wrap{
    margin: 0 auto;
  }
  /*.bg{
    position: relative;
    width: 1500px;
    height: 100%;
    z-index: -1;
  background: #f8eafd;
    -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -o-filter: blur(20px);
      -ms-filter: blur(20px);
      filter: blur(20px);
      opacity: 0.4;
  }
  body{
    background: url('bg.png') ;
    background-size: contain;
  }
  */
  /*menu*/
.hamburger {
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
display: none;
position: absolute;
top: 0;
left: 0;
margin-bottom: 15px;
}

.active{
  display: inline-block;
  padding-right: 10px; 
}

.right_side_menu{
float: right;
}
.welcom{
  cursor: pointer;
  position: absolute;
  left: -75px;
}
.profile_photo_menu_box{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.profile_photo_menu{
  width: 40px;
  height: 50px;
}
.head{
  background: linear-gradient(to top left,#8918ce, #3d5de4);
  opacity: 0.94 ; 
  width: 100%;
  padding: 20px 5px; 
  font-size: 16px;
  top:0;
  z-index: 1000;
  min-height: 60px;
}
nav{
  width: 350px;
}
.pull-right{
  display: inline-block;
}
.li-item{
  margin-left: 10px;
  padding-right: 5px; 
  color: #ffffff;
}
.li-item::after{
  content: "|";
  padding-left: 10px; 
}
.li-item:hover{
color: #ffafaf;
transition: 400ms;
}
.head a{
  color: #ffffff !important;
}
.head a:hover,
.head a:focus,
.head a:active {
    text-decoration: none !important;
    color: #ffafaf !important;
    transition: 400ms;
  }

ul{
  margin-bottom: 0 !important;
}
  /*section_1 slider*/
  #section-slide {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #section-slide .slick-slide{
    height: 200px !important ;
  }
  #section-slide .slick-dots{
    display: none !important;
  }
  #section-slide  .slick-prev::before, #section-slide  .slick-next::before{
    color: #181818 !important;
    height: 100px !important;
  }
  #section-slide  .slick-prev::before{
    margin-left: 15px !important;
  }
  #section-slide  .slick-card-box{
    max-width: 1200px;
    margin: 0 auto;
  }
  /*section 1 - control: log in filter */
  
  /*section 1 - control: log in filter */

/*logo*/
.logo{
    background: url('logo.png') no-repeat;
    background-size: cover; 
    width: 260px;
    height: 100px;
    margin-bottom: 30px;
  }
  /*login*/
  .section-control{
    margin-top: 80px; 
    clear: bottom;
  }
  .right-side{
    max-width: 890px;
    display: inline-block;
  }
  .section-control #form-log{
    width: 260px;
    height: 295px;
  }
  
  .section-control .panel-body{
    padding: 0 !important;
  }
  .section-control .panel{
    background: #fffdf9cb;
    height: 295px;
    border-color: #181818 !important; 
  }
  .btn-lg{
      font-size: 14px !important;
  }

  
  /*section-pages users-card  */
  
  @keyframes move {
    from {
      bottom: -60px; 
    }
    to { 
      bottom: 0;
    }
    }
  .section-pages{
    padding-bottom:  50px;
  }
  .clearfix{
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
  }
  .card-container{
    margin-bottom: 30px; 
  }
  .card{
    width: 170px;
    height: 212px;
    overflow: hidden;
    margin: 0 auto;
  
    animation-play-state: paused;
  }
  
  .card-photo{
    width: 170px;
    height: 212px;
    border-radius: 5px; 
    z-index: 1000;
  }
  .card:hover{
    border: 1px  solid rgba(250, 177, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 0 .2rem rgba(255, 193, 239, 0.5) !important;
  }
  .card:hover .small-info{
    display: block;
    transition: 2000ms;
    animation: move  0.6s  ease-out;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  .small-info{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    right: 0;
    font-weight: 500;
    background:#d83ea0b3; 
    color: #111010;
    overflow: hidden;
    font-size: 16px;
    text-align: left;
    padding: 10px 15px;
  }
  #card-country{
    font-size: 10px;
  }
  .pagination_main{
    margin-top:  50px;
  }
  .pagination{
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px; 
  }
  
  /* photo & small-info*/
.section-photo{
    margin-top: 190px;
    padding-left: 50px;
}
.photo-box{
    width: 250px;
    height: 300px;
    overflow: hidden;
    border: 3px solid #cfcfcfcc;
border-radius: 15px;
}
.photo-person{
    width: 250px;
    height: 300px;
}
.info{
    font-size: 18px;
}
.key{
    font-weight: 600;
}
.info-info{
    padding: 5px;
}
/*like*/
.like{
  font-size: 35px;
  color: #cf0909;
  cursor: pointer;
}
.like:hover{
  color: #640000;
  transition: 500ms;
}
.like_none{
  display: none;
}
.likes_amount{
  font-size: 18px;
  padding: 0 8px; 
}


/*login*/

.form-signin #panel-body{
  height: 280px;
}
.section-control #panel-body{
  padding: 0 !important;
}


.form-group, .fg-pass{
  margin-left: 15%;
font-size: 15px !important;
margin-bottom: 20px !important;
}
.email{
margin-top: 15%;
}
.fg-pass{
margin-top: 20px;}
.section-control .email:focus, .section-control .password:focus{
  border-color: #ffbbbb9d !important;
  box-shadow: 0 0 0 .2rem rgba(253, 202, 202, 0.39) !important;
}
.form-control {
  width: 200px !important;
}
.login-btn, .register-link{
  margin-top: 10px;}
.form-signin .form-group{
  margin-top: 30px;
}
.section-control .fg-pass a{
  color: #ff3333 !important;
}
.section-control .register-link a{
  text-decoration: none;
  color: #ffffff !important;
}
.section-control .register-link:hover a:hover{
  color: #ff6b6b !important;
  transition: 1000ms;
}

.active2{
display: inline-block;
}
.panel-2 {
  margin-top: 20px !important;
}
/*adaptation*/
@media (max-width: 1199px){
  .section-photo{
    margin-top: 60px;
    padding-left: 0;
}
  #likes2{
    margin: 0 auto;
    text-align: center;
  }
  .logo{
    margin: 0 auto;
    width: 315px;
    height: 128px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .section-control #form-log {
    width: 335px;
    margin: 0 auto;
}
.panel-2 {
  width: 335px !important;
  margin: 0 auto !important;
  
}
.labeles {
  margin-left: 59px !important;
}
.section-control .email, .section-control .password {
  width: 236px !important;
}
.section-control .register-link {
  left: 60% !important;
} 
#section-slide{
  max-width: 600px;
  margin: 0 auto;
}
.photo-box {
  margin-left: 80px;
}
.likes_amount {
  margin-left: 80px;
}
.search-btn-block {
  left: 37% !important;
}
}

@media (max-width: 991px){
  .section-control #form-log {
    margin-top: 20px !important;
    width: 309px;
}
.panel-2{
  width: 309px !important;
  margin-top: 21px !important;
}
  .photo-box {
    margin-left: 0;
  }
  .likes_amount {
    margin-left: 0;
  }
  .hero-nav{
    display: none;
    padding-top: 26px;
  }
  .hamburger {
  display: block;
  }
  .active{
    display: block;
  }
  nav{
    width: 100px !important;
  }

}

@media (max-width: 767px){

.form-signin{
  margin-top: 50px;
}
.form-log {
  margin-bottom: 50px;
}
.panel-2{
  margin: 20px auto !important;
}
  .photo-box {
    margin: 0 auto;
  }
  .likes_amount {
    margin: 0 auto;

  }
  #likes{
    margin: 0 auto;
    text-align: center;
  }
  .info {
    margin-top: 30px;
    margin-left: 20%;
    margin-bottom: 30px;
  }
  #section-slide {
    max-width: 500px;}
}
@media (max-width: 600px){
  .info {
    margin-left: 0;
  }
  #section-slide {
    max-width: 300px;}
    
}