/*helpers*/
.inline-block{
    display: inline-block;
  }
  .rel{
   position: relative;
  }
  .abs{
    position: absolute;
   }
  .fixed{
    position: fixed;
  }
  .center{
  text-align: center;
  }
  .wrap{
    margin: 0 auto;
  }
  /*.bg{
    position: relative;
    width: 1500px;
    height: 100%;
    z-index: -1;
  background: #f8eafd;
    -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -o-filter: blur(20px);
      -ms-filter: blur(20px);
      filter: blur(20px);
      opacity: 0.4;
  }
  body{
    background: url('bg.png') ;
    background-size: contain;
  }
  */
 
  /*section_1 slider*/
  #section-slide {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #section-slide .slick-slide{
    height: 212px !important ;
  }
  #section-slide .slick-dots{
    display: none !important;
  }
  #section-slide  .slick-prev::before, #section-slide  .slick-next::before{
    color: #181818 !important;
    height: 100px !important;
  }
  #section-slide  .slick-prev::before{
    margin-left: 15px !important;
  }
  #section-slide  .slick-card-box{
    max-width: 1200px;
    margin: 0 auto;
  }
  /*section 1 - control: log in filter */
  
  /*section 1 - control: log in filter */

/*logo*/
.logo{
    background: url('logo.png') no-repeat;
    background-size: cover; 
    width: 260px;
    height: 100px;
    margin-bottom: 30px;
  }
  /*login*/
  .section-control{
    margin-top: 80px; 
    clear: bottom;
  }
  .right-side{
    max-width: 890px;
    display: inline-block;
  }
  .section-control #form-log{
    width: 260px;
    height: 295px;
  }
  
  .section-control .panel-body{
    padding: 0 !important;
  }
  .section-control .panel{
    background: #fffdf9cb;
    border-color: #181818 !important; 
  }
  .btn-lg{
      font-size: 14px !important;
  }

  .txt_name{
    font-size: 24px;
    font-weight: 600;

  }

  .btn_send{
    font-size: 18px !important;
  }
  /*section-pages users-card  */
  
  @keyframes move {
    from {
      bottom: -60px; 
    }
    to { 
      bottom: 0;
    }
    }
  .section-pages{
    padding-bottom:  50px;
  }
  .clearfix{
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
  }
  .card-container{
    margin-bottom: 30px; 
  }
  .card{
    width: 170px;
    height: 212px;
    overflow: hidden;
    margin: 0 auto;
  
    animation-play-state: paused;
  }
  
  .card-photo{
    width: 170px;
    height: 212px;
    border-radius: 5px; 
    z-index: 1000;
  }
  .card:hover{
    border: 1px  solid rgba(250, 177, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 0 .2rem rgba(255, 193, 239, 0.5) !important;
  }
  .card:hover .small-info{
    display: block;
    transition: 2000ms;
    animation: move  0.6s  ease-out;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  .small-info{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    right: 0;
    font-weight: 500;
    background:#d83ea0b3; 
    color: #111010;
    overflow: hidden;
    font-size: 16px;
    text-align: left;
    padding: 10px 15px;
  }
  #card-country{
    font-size: 10px;
  }
  .pagination_main{
    margin-top:  50px;
  }
  .pagination{
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px; 
  }
  .myflex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .big_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* photo & small-info*/
.section-photo{
    margin-top: 190px;
    padding-left: 50px;
}
.photo-box{
    width: 240px;
    height: 300px;
    overflow: hidden;
    border: 3px solid #cfcfcfcc;
border-radius: 15px;
}
.photo-person{
    width: 240px;
    height: 300px;
}
.info{
    font-size: 18px;
    margin-left: 20px;
    min-width: 300px;
}
.key{
    font-weight: 600;
}
.info-info{
    padding: 5px;
}
/*like*/
.like{
  font-size: 35px;
  color: #cf0909;
  cursor: pointer;
}
.like:hover{
  color: #640000;
  transition: 500ms;
}
.like_none{
  display: none;
}
.likes_amount{
  font-size: 18px;
  padding: 0 8px; 
}
a{
  text-decoration: none !important;
  color: #ffffff !important;
}
#likes{
  font-size: 20px;
  margin-top: 30px;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  max-width: 200px !important;
    align-items: center;
}
.likes{
  font-size: 20px;
  margin: 30px 0;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
    align-items: center;
}
@keyframes stretch {
  0% {
    border-top: 3px solid rgba(255, 136, 136, 0.788);
    border-bottom: 3px solid rgba(255, 150, 150, 0.788);
    border-left: 3px solid rgba(255, 150, 150, 0.788);
    border-right: 3px solid rgba(255, 150, 150, 0.788);
  }
  30% {
    border-top: 3px solid rgba(255, 178, 178, 0.788);
    border-bottom: 3px solid rgba(255, 178, 178, 0.788);
    border-left: 3px solid rgba(255, 178, 178, 0.788);
    border-right: 3px solid rgba(252, 142, 142, 0.788);

  }
  60% {
    border-top: 3px solid rgba(255, 203, 203, 0.788);
    border-bottom: 3px solid rgba(252, 142, 142, 0.788);
    border-left: 3px solid rgba(255, 203, 203, 0.788);
    border-right: 3px solid rgba(255, 203, 203, 0.788);
  }
  100% {
    border-top: 3px solid rgba(255, 225, 225, 0.788);
    border-bottom: 3px solid rgba(255, 225, 225, 0.788);
    border-left: 3px solid rgba(252, 142, 142, 0.788);
    border-right: 3px solid rgba(255, 225, 225, 0.788);

  }
}
.keframe_div{
  min-width: 450px;
  padding: 10px;
  border-radius: 8px 20px;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: linear; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}
.about_me_div{
}
/*login*/

.form-signin #panel-body{
  height: 280px;
}
.section-control #panel-body{
  padding: 0 !important;
}
.label{
  margin-bottom: 0 !important;
}

.form-group, .fg-pass{
font-size: 15px !important;
margin-bottom: 20px !important;
}
.email, .fg-pass , .password{
margin-top: 20px;
margin: 0 auto;
text-align: center;
}
.section-control .email:focus, .section-control .password:focus{
  border-color: #ffbbbb9d !important;
  box-shadow: 0 0 0 .2rem rgba(253, 202, 202, 0.39) !important;
}
.form-control {
  width: 200px !important;
}
.login-btn, .register-link{
  margin-top: 10px;}
.form-signin .form-group{
  margin-top: 30px;
}
.section-control .fg-pass a{
  color: #ff3333 !important;
}
.section-control .register-link a{
  text-decoration: none;
  color: #ffffff !important;
}
.section-control .register-link:hover a:hover{
  color: #ff6b6b !important;
  transition: 1000ms;
}

.panel-2 {
  margin-top: 20px !important;
}
/*adaptation*/
@media (max-width: 1199px){
  .containeer {
    display: none;
  }
  .section-photo{
    margin-top: 60px;
    padding-left: 0;
}
  #likes2{
    margin: 0 auto;
    text-align: center;
  }
  .logo{
    margin: 0 auto;
    width: 315px;
    height: 128px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .section-control #form-log {
    width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-content: center;
    margin: 0 auto;
}
.panel-2 {
  width: 335px !important;
  margin: 0 auto !important;
  
}
.section-control .email, .section-control .password {
  width: 236px !important;
}
.section-control .register-link {
  left: 60% !important;
} 
#section-slide{
  max-width: 600px;
  margin: 0 auto;
}
.photo-box {
  margin-left: 80px;
}
.search-btn-block {
  left: 37% !important;
}
}

@media (max-width: 991px){
  .section-control #form-log {
    margin-top: 20px !important;
    width: 309px;
}
.panel-2{
  width: 309px !important;
  margin-top: 21px !important;
}
  .photo-box {
    margin-left: 0;
  }
  .likes_amount {
    margin-left: 0;
  }
}

@media (max-width: 767px){
  #likes  {
    margin: 10px auto;
}
.block {
  margin-right: 40px;
}
.form-signin{
  margin-top: 50px;
}
.form-log {
  margin-bottom: 50px;
}
.panel-2{
  margin: 20px auto !important;
}
  .photo-box {
    margin: 0 auto;
  }
  .likes_amount {
    margin: 0 auto;

  }
  .myflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .info {
    margin: 20px auto;
    text-align: center;
  }
  #section-slide {
    max-width: 500px;}
}
@media (max-width: 600px){
  #section-slide {
    max-width: 300px;}
    .keframe_div{
      min-width: 250px;}
    
}