/*helpers*/
.inline-block{
  display: inline-block;
}
.rel{
 position: relative;
}
.abs{
  position: absolute;
 }
.fixed{
  position: fixed;
}
.center{
text-align: center;
}
.wrap{
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
/*menu*/
.head{
  background: #161616ea;
  width: 100%;
  padding: 20px 5px; 
  font-size: 16px;
  top:0;
  z-index: 1000;

}
nav{
  width: 400px;
  display: inline-block !important;
}
.pull-right{
  display: inline-block;
}
.li-item{
  margin-left: 10px;
  padding-right: 5px; 
  color: #ffffff;
}
.li-item::after{
  content: "|";
  padding-left: 10px; 
}
.li-item:hover{
color: #ffafaf;
transition: 400ms;
}
.head a{
  color: #ffffff !important;
}
.head a:hover,
.head a:focus,
.head a:active {
    text-decoration: none !important;
    color: #ffafaf !important;
    transition: 400ms;
  }

ul{
  margin-bottom: 0 !important;
}
/*section_1 slider*/
.section-slide{
  margin-top: 100px;
}
.slick-slide{
  height: 200px !important ;
}
.slick-dots{
  display: none !important;
}
.slick-prev::before, .slick-next::before{
  color: #181818 !important;
  height: 100px !important;
}
.slick-prev::before{
  margin-left: 15px !important;
}
.slick-card-box{
  max-width: 1200px;
  margin: 0 auto;
}
/*section 1 - control: log in filter */
/*login*/
.section-control{
  margin-top: 60px; 
  width: 100%;
}
.form-signin .form-log{
  width: 250px;
  height: 350px;
}
.section-control .panel{
  border-color: #181818 !important; 

}
.section-control .panel-body{
  height: 240px;
  background: #fffdf9cb;
}
.section-control .email,
 .section-control .password,
  .section-control .login-btn,
   .section-control .register-link{
  width: 180px;
  position: absolute;
  left:14%;
  top: 30px;
  font-size: 15px !important;
}
.section-control .email:focus, .section-control .password:focus{
  border-color: #ffbbbb9d !important;
  box-shadow: 0 0 0 .2rem rgba(253, 202, 202, 0.39) !important;
}
.section-control .password{
  top: 83px;
}
.section-control .login-btn{
  width: 80px;
  top: 150px;
}
.section-control .register-link{
  left: 55%;
  top: 200px;
}
.form-signin .form-group{
  margin-top: 30px;
}
.section-control .register-link a{
  color: #ff3333 !important;
}
.section-control .register-link:hover a:hover{
  color: #ff6b6b !important;
  transition: 1000ms;
}
.section-control .panel-heading{
  text-align: center;
  color: #ffffff !important;
  font-size: 19px;
  font-weight: 600 !important;
  background: #353535 !important;
}
.panel-2 .form-check {
margin-right: 50px;
padding-top: 50px; 
}
.form-check .form-check-label{
  position: absolute;
  top: 54px;
  left: 40px;
  font-size: 14px;
  font-weight: 400;
}

/*filter*/
.center-i{
  position: absolute;
  left: 20%;
  margin-bottom: 10px; 
  font-size: 16px;
  font-weight: 600;
}
.slider-age{
  font-size: 16px;
  font-weight: 600;
}
#amount, #amount-2{
  position: absolute;
  font-size: 14px;
  color:#d63434;
}
.search-btn-block{
  position: absolute;
  top: 220px;
  left: 42%;
}
#slider-range{
  margin-top: 45px; 
}
#amount{
  left: 0;
}
#amount-2{
  right: 0;
  text-align: right;
}
.inputs-age{
  border:0;
  font-weight:bold;
}
.slider{
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
}
.search{
  margin-left: 35px;
  margin-right: 35px;
}
.panel-2{
  height: 330px;

}
.panel-2 label{
  cursor: pointer;
}
.search-btn{
  font-size: 14px;
  width: 80px;
}
/*section-pages users-card  */

@keyframes move {
  from {
    bottom: -60px; 
  }
  to { 
    bottom: 0;
  }
  }
.section-pages{
  padding-bottom:  50px;
}
.clearfix{
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}
.card-container{
  margin-bottom: 30px; 
}
.card{
  width: 150px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;

  animation-play-state: paused;
}

.card-photo{
  width: 150px;
  height: 200px;
  border-radius: 5px; 
  z-index: 1000;
}
.card:hover{
  border: 1px  solid rgba(151, 151, 151, 0.5);
  border-radius: 5px;
  box-shadow: 0 0 0 .2rem rgba(151, 151, 151, 0.5) !important;
}
.card:hover .small-info{
  display: block;
  transition: 2000ms;
  animation: move  0.6s  ease-out;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.small-info{
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  right: 0;
  background:#161616cc; 
  color: #ffffff;
  overflow: hidden;
  font-size: 16px;
  text-align: left;
  padding: 10px 15px;
}
#card-country{
  font-size: 10px;
}
.pagination_main{
  margin-top:  50px;
}
.pagination{
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 0;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px; 
}
@media (max-width: 990px){
  .card-photo, .card{
    width: 190px;
    height: 230px;
  }
}
@media (max-width: 860px){
  .card-photo, .card{
    width: 170px;
    height: 190px;
  }
}
@media (max-width: 767px){
  .card-photo, .card{
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 680px){
  .card-photo, .card{
    width: 170px;
    height: 170px;
  }
  .small-info{
    display: block;
  }
}
@media (max-width: 575px){
  .card-photo, .card{
    width: 250px;
    height: 250px;
  }
}
