/*helpers*/
.inline-block{
  display: inline-block;
}
.rel{
 position: relative;
}
.abs{
  position: absolute;
 }
.fixed{
  position: fixed;
}
.center{
text-align: center;
}
.wrap{
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
/*.bg{
  position: relative;
  width: 1500px;
  height: 100%;
  z-index: -1;
background: #f8eafd;
  -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    opacity: 0.4;
}
body{
  background: url('bg.png') ;
  background-size: contain;
}
*/

/*section_1 slider*/

.slick-slide{
  height: 212px !important ;
}
.slick-dots{
  display: none !important;
}
.slick-prev::before, .slick-next::before{
  color: #181818 !important;
  height: 100px !important;
}

.slick-card-box{
  max-width: 1200px;
  margin: 0 auto;
}
/*section 1 - control: log in filter */

/*logo*/
.logo{
  background: url('logo.png') no-repeat;
  background-size: cover; 
}
/*login*/
  

  .panel-body{
  padding: 0 !important;
}
  .panel{
  background: #fffdf9cb;
  border-color: #181818 !important; 
}

  #form-log{
  width: 218px;
}
  .panel{
  background: #fffdf9cb;
  border-color: #181818 !important; 
}
  #panel-body{
  height: 295px;
}
  #panel-body{
  padding: 0 !important;
}
.form-control {
   width: 153px !important; 
}
.btn{
  padding: 6px 1px !important;
}
  .email,
   .password,
    .login-btn,
    .fg-pass,
     .register-link{
  width: 180px;
  position: absolute;
  left:14%;
  top: 30px;
  font-size: 15px !important;
}
  .email:focus,   .password:focus{
  border-color: #ffbbbb9d !important;
  box-shadow: 0 0 0 .2rem rgba(253, 202, 202, 0.39) !important;
}
  .password{
  top: 83px;
}
  .login-btn{
  width: 70px;
  top: 150px;
}
  .register-link{
  left: 51%;
  width: 70px;

  top: 151px;
}
  .fg-pass{
  left: 15%;
top: 220px;
}

  .fg-pass a{
  color: #ff3333 !important;
}
  .register-link a{
  text-decoration: none;
  color: #ffffff !important;
}
  .register-link:hover a:hover{
  color: #ff6b6b !important;
  transition: 1000ms;
}


/*filter*/
.panel-2{
  width: 218px !important;
}
.labeles {
  margin-left: 59px !important;
}
#amount, #amount-2{
    top: -12px !important;  

}
#slider-range {
  margin-top: 26px !important;
}
.search-btn-block {
  top: 231px !important;
}
/* users-card  */

@keyframes move {
  from {
    bottom: -60px; 
  }
  to { 
    bottom: 0;
  }
  }
.section-pages{
  padding-bottom:  50px;
}

.clearfix{
  margin-bottom: 80px !important;
  max-width: 900px;
  margin: 0 auto;
}
.card-container{
  margin: 10px; 
  
}
.card{
  width: 170px;
  height: 212px;
  overflow: hidden;
  margin: 0 auto;

  animation-play-state: paused;
}

.card-photo{
  width: 170px;
  height: 212px;
  border-radius: 5px; 
  z-index: 1000;
}
.card:hover{
  border: 1px  solid rgba(250, 177, 255, 0.5);
  border-radius: 5px;
  box-shadow: 0 0 0 .2rem rgba(255, 193, 239, 0.5) !important;
}
@media (min-width: 767px){
  .card{
    width: 170px;
    height: 212px;
    overflow: hidden;
    margin: 0 auto;
  
    animation-play-state: paused;
  }
  .card:hover .small-info{
  display: block;
  transition: 2000ms;
  animation: move  0.6s  ease-out;
  animation-fill-mode: forwards;
  animation-play-state: running;
  }
  .small-info{
    display: none;
  }
}

.small-info{
  /* position: absolute;
  bottom: 0;
  left: 5%;
  margin-bottom: 5%;
  height: 60px;
  font-weight: 500;
  background: #e5b4ff;
  color: #000000;
  overflow: hidden;
  font-size: 16px;
  border: 3px solid #000000;
  text-align: left;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: 600; */
  position: absolute;
  bottom: 0;
  left: 5%;
  margin-bottom: 5%;
  height: 60px;
  font-weight: 500;
  background: #ffd4ea;
  color: #292829;
  overflow: hidden;
  font-size: 16px;
  border: 1px solid #7515a6;
  text-align: left;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: 600;
  width: 90%;
}
#card-country{
  font-size: 10px;
  font-weight: 500;

}
.pagination_main{
  margin-top:  50px;
}
.pagination{
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 0;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px; 
}
.logo{
  margin: 0 auto;
  width: 315px;
  height: 128px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.panel-2 {
  width: 335px !important;
  margin: 0 auto !important;
}
#section-slide{
  max-width: 600px;
  margin: 0 auto !important;
}
.section-slide {
  margin-top: 0;
  max-width: 820px;
  margin: 0 auto !important;
}
/*adaptation*/
@media (max-width: 1199px){

.section-control .email, .section-control .password {
  width: 236px !important;
}
.section-control .register-link {
  left: 60% !important;
} 

.search-btn-block {
  left: 37% !important;
}
}

@media (max-width: 991px){
  .section-control #form-log {
    margin-top: 20px !important;
    width: 309px;
}
.section-slide {
  max-width: 700px;
}
  .panel-2{
    width: 309px !important;
    margin-top: 21px !important;
  }
}

@media (max-width: 767px){
  .section-slide {
    max-width: 500px;
}
.form-signin{
  margin-top: 50px;
}
.small-info{
  display: block;
  font-size: 18px;
  font-weight: 600;
  height: 70px;
  border: 3px solid #f2c9ff;
  background: #420797;
  color: #ffffff;
}
#card-country {
  font-size: 14px;
  font-weight: 500;
}
.panel-2{
  margin:0 auto !important;
}
.main_form .card-photo, .main_form .card {
  width: 250px;
  height: 333px;
}
}
@media (max-width: 660px){
  .section-slide {
    max-width: 300px;
}
  }

  @media (max-width: 576px){
    .section-slide {
      max-width: 250px;
      margin-left: 15%;
  }
  .section-control #form-log {
    width: 280px;}
    .section-control .email, .section-control .password {
      width: 200px !important;
  }
  .panel-2 {
    width: 280px !important;
}
.labeles {
  margin-left: 35px !important;
}
.main_form .card-photo, .main_form .card {
  width: 221px;
  height: 293px;}
    }
  