/*helpers*/
.inline-block{
    display: inline-block;
  }
  .rel{
   position: relative;
  }
  .abs{
    position: absolute;
   }
  .fixed{
    position: fixed;
  }
  .center{
  text-align: center;
  }
  .pull-right{
    display: inline-block;
  }
  .wrap{
    max-width: 1400px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }
  /*menu*/
  .text_box_1 {
    text-align: center;
    padding-left: 20px;
    color: #e73591;
    font-size: 16px;
    font-weight: 600;
  }
  .text_box_1:hover, .arrow:hover{
    color: #991659;
  }
  a{
    text-decoration: none !important;
  }
.arrow{
padding-left: 8px; 
padding-right: 20px; 
font-size: 22px;
color: #e73591;

}
  .box_b{
    display: flex !important;
    justify-content: flex-start !important;
    flex-direction: row !important;
    align-items: center !important;
    margin-bottom: 0 !important;
  }
  .img_box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden; 
  }
  .img_box img{
    width: 50px;
  }
  .language_box{
    position: absolute;
    right: 5px;
    top: 63%;
    color: #e73591;
    font-size: 16px;
  }
  .language{
    border: none !important;
    background: none !important;
    padding: 0;
    cursor: pointer !important;
    color: #e73591;
   }
   .logo_box{
    max-width: 185px;
    margin: 0 auto;
  }

   .logo{
    background: url('../logo.png') no-repeat;
    background-size: cover; 
    width: 130px;
    height: 50px;
    margin: 5px auto;
  }
   .head{
    background: #ffffff;
    width: 100%;
    font-size: 16px;
    top:0;
    padding: 5px;
    z-index: 1000;
    height: 64px;
  }
  /*footer*/
  .foot{
  bottom: 0;
  width: 100%;
  z-index: 1000;
  max-height: 80px;
  background: #fff;
  font-size: 16px;
  text-align: center;
  border-top: 1px solid #cacaca;
  }
  .send-message{
margin: 0 auto;
max-width: 400px;
}
.send-message{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
  .form-control {
    max-width: 340px !important;
    height: 34px;
    margin: 0 5px !important;
    font-size: 14px;
    border: none !important;
    border-left: 1px solid #6e50d9 !important;
    border-right: 1px solid #6e50d9 !important;
    border-radius: 50px !important;
    resize: none !important;
}
  a{
    text-decoration: none !important;
  }
  
  .foot a{
    color: #e73591;
    padding: 12px; 
  }
  .foot a:hover, .foot a:active, .foot a:focus{
    color: #e01a81;
  }
  .foot .linka2{
    font-size: 26px;
    padding: 8px 5px;
  }
  .form-group {
    margin-bottom: 0 !important;
}
.login-container{
    display: block;
    width: 330px;
    height: 350px;
    padding: 0 20px 20px 20px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*verticaly center*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -165px;
    margin-left: -165px;
}
::-webkit-scrollbar{
    height:10px;
    width:10px;
    background:#FFF;
}
::-webkit-scrollbar-thumb{
    background:#BBB;
    border:solid 2px #FFF;
}
::-webkit-scrollbar-thumb:hover{
    background:#888;
}
::-moz-scrollbar{
    height:10px;
    width:10px;
    background:#FFF;
}
::-moz-scrollbar-thumb{
    background:#BBB;
    border:solid 2px #FFF;
}
::-moz-scrollbar-thumb:hover{
    background:#888;
}
/*dialog*/
body{
    background: linear-gradient(#9968f9b8, #ffc2df, #fff);
    min-height: 1400px;
}
.display-message{
    margin: 0 auto;
    display: flex;
    max-width: 500px;
    justify-content: flex-end;
    flex-direction: column;
    min-height: 1400px;
}

@media (max-height: 1000px){
    body{
        min-height: 900px;
    } 
    .display-message{
        min-height: 900px;
    }
}
@media (max-height: 800px){
    body{
        min-height: 700px;
    }
    .display-message{
        min-height: 700px;
    }
}
@media (max-height: 600px){
    body{
        min-height: 500px;
    }
    .display-message{
        min-height: 500px;
    }
}
@media (max-height: 400px){
    body{
        min-height: 300px;
    }
    .display-message{
        min-height: 300px;
    }
}
 .section_dial{
    margin: 70px 0 ;
}
/* body{ */
    /* background: url('bg0.jpg') no-repeat; */
/* } */

.message_left, .message_right {
    margin: 4px !important;
    padding: 8px !important;
    
    border: 1px solid #1a1a1a;
    border-radius: 10px;
    max-width: 250px;
    word-wrap: break-word;
}
.message_right {
    background: rgb(255, 255, 255);
}
.message_left {
    background: rgb(255, 232, 232);
}
.cont_r{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.cont_l{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.sk_r{
    position: absolute;
    bottom: 0;
    right: 0;
}
.sk_l{
    position: absolute;
    bottom: 0;
    left:  0;
}
.sk_r:after{
    content: "";
    position: absolute;
    bottom: -4px;
    right: -4px;
    width: 8px;
    height: 10px;    
    border-bottom: 8px solid rgba(0, 0, 0, 0.699);
  
    -moz-border-radius: 0 0 35px;
         border-radius: 0 0 35px;
    -webkit-transform: rotate(-0deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(50deg);
}
 .sk_l:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: -4px;
    width: 8px;
    height: 10px;    
    border-bottom: 8px solid rgba(0, 0, 0, 0.699);
  
    -moz-border-radius: 0 0 35px;
         border-radius: 0 0 35px;
    -webkit-transform: rotate(-0deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(50deg);
}
.btn_violet{
    color: #e7499a;
    font-size: 32px !important;
    margin-left: 8px;
    cursor: pointer;
  }
  .btn_violet:hover{
    color: #991659 !important;
  }
  