/*helpers*/
.inline-block{
    display: inline-block;
  }
  .rel{
   position: relative;
  }
  .abs{
    position: absolute;
   }
  .fixed{
    position: fixed;
  }
  .center{
  text-align: center;
  }
  .pull-right{
    display: inline-block;
  }
  .wrap{
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

/*menu*/
.active2{
    display: inline-block;
    color: #fff;
    padding-right: 10px; 
    }
    .language{
      border: none !important;
      background: none;
      color: #fff;
      padding: 0 !important;
      }
      .language_box{
        position: absolute;
        left: -90%;
        width: 60px;
      }
    .language:hover{
      text-decoration: none !important;
      color: #ffafaf !important;
      transition: 400ms;
      }
  .hamburger {
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 15px;
  }
  
  .active{
    display: inline-block;
    padding-right: 10px; 
  }
  
  .right_side_menu{
    position: absolute;
    top: 0;
    right: 10px;
  }
  .welcom{
    cursor: pointer;
    position: absolute;
    left: -75px;
  }
  .profile_photo_menu_box{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: -36px;
    top: -22px;
  }
  .profile_photo_menu{
    width: 40px;
    height: 50px;
  }
  .head{
    background: linear-gradient(to top left,#8918ce, #3d5de4);
    opacity: 0.94 ; 
    width: 100%;
    padding: 20px 5px; 
    font-size: 16px;
    top:0;
    z-index: 1000;
    min-height: 60px;
  }
  
  .pull-right{
    display: inline-block;
  }
  .li-item{
    margin-left: 10px;
    padding-right: 5px; 
    color: #ffffff;
  }
  .li-item::after{
    content: "|";
    padding-left: 10px; 
  }
  .li-item:hover{
  color: #ffafaf;
  transition: 400ms;
  }
  .head a{
    color: #ffffff !important;
  }
  .head a:hover,
  .head a:focus,
  .head a:active {
      text-decoration: none !important;
      color: #ffafaf !important;
      transition: 400ms;
    }
  
  ul{
    margin-bottom: 0 !important;
  }
/*message*/
.section_mes, section_dial{
    margin: 70px 0 ;
}
.mess-box{
    margin: 0 auto;
    max-width: 400px;
}
.box_us{
    padding: 5px;
    display: block;
}
.img_us_box{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #d3cbe1;
}
.img_us{
    width: 80px;
}
.pencil{
    position: absolute;
    right: 0;
    color: #624195;
}
.name_us{
    font-size: 18px;
    padding: 10px;
    color: #1a1a1a;
    border-bottom: 1px solid #d0c8e0;
}
